* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

header {
	width: 100%;
	height: 120px;
}

.container {
	width: 90%;
	margin: auto;
}

.header-wrap {
	display: flex;
	justify-content: space-between;
}

.header-block__left {
	display: flex;
	align-items: center;
	width: 45%;
	height: 108px;
}

.header-block__left-logo >h1 {
	font-family: arial;
	font-size: 36px;
	color: #505050;
	text-transform: capitalize;
}

.header-block__left-logo >h1:hover {
	cursor: pointer;
}

.header-block__left-logo >h2 {
	font-family: arial;
	font-size: 13px;
	color: #666666;
	text-transform: capitalize;
}

.header-block__left-logo >h2:hover {
	cursor: pointer;
}

.header-block__right {
	width: 60%;
	height: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-block__right-nav-bar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #303030;
	border-radius: 10px;
	display: flex;
}

.header-block__right-nav-bar >a {
	padding: 20px;
	text-decoration-line: none;
	color: white;
	text-transform: uppercase;
	font-size: 16px;
	font-family: arial;
	font-weight: bold;
	width: 20%;
	text-align: center;
	transition: 1s;
	outline: none;
	height: 57.78px;
}

.header-block__right-nav-bar >a:hover {
	background-color: #BFBCBC;
	color: black;
	cursor: pointer;
}

.slide {
	width: 100%;
	background-color: #e2e2e2;
}

.slide-center {
	width: 100%;
	height: 500px;
	display: flex;
	align-items: center;
}

.slide-item {
	width: 100%;
	height: 400px;
	background-color: #333333;
	position: relative;
}

.slide-picture >img {
	width: 100%;
	height: 400px;
}

.controls {
	position: absolute;
	top: 10px;
	right: 10px;
}

.slide-item-first {
	width: 30%;
	height: 180px;
	background-color: #191919;
	position: absolute;
	left: 20px;
	bottom: 20px;
}

.slide-item-first-text {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 20px;
	top: 20px;
}

.slide-item-first-text >h2 {
	color: #bbbbbb;
	font-size: 20px;
	text-transform: capitalize;
	font-family: arial;
}

.slide-item-first-text >p {
	color: #c1c1c1;
	font-size: 16px;
	font-family: arial;
	margin-top: 20px;
}

.gallery {
	width: 100%;
	background-color: #e2e2e2;
}

.gallery-wrap {
	display: flex;
	padding-top: 20px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.gallery-item {
	width: 300px;
	display: flex;
	flex-direction: column;
}

.gallery-item >h2 {
	font-size: 26px;
	text-transform: capitalize;
	color: #666666;
	font-family: arial;
}

.gallery-item-image {
	width: 300px;
	height: 280px;
	margin-top: 20px;
	background-color: #333333;
}

.gallery-item >p {
	font-size: 13px;
	color: #666666;
	margin-top: 20px;
}

.gallery-item >a {
	text-decoration-line: none;
	text-transform: capitalize;
	color: #ff5d30;
	font-size: 13px;
	margin-top: 15px;
}

.latest-from-gallery {
	width: 100%;
	background-color: #e2e2e2;
	padding-top: 30px;
	padding-bottom: 30px;
}

.container >h2 {
	font-size: 23px;
	color: #666666;
	text-transform: capitalize;
}

.latest-from-gallery-wrap {
	display: flex;
	padding-top: 20px;
	justify-content: space-between;
}

.latest-from-gallery__left {
	width: 50%;
	height: 250px;
	background-color: #333333;
}

.latest-from-gallery__right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 25%;
	flex-wrap: wrap;
}

.latest-from-gallery__right-item {
	width: 120px;
	height: 120px;
	background-color: #333333;
}

.footer {
	width: 100%;
	background-color: #ededed;
}

.footer-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 30px;
	padding-bottom: 30px;
}

.footer-newsletter {
	width: 315px;
	height: 355px;
	display: flex;
	flex-direction: column;
}

.newsletter {
	width: 100%;
	height: 50%;
}

.newsletter >h2 {
	text-transform: capitalize;
	font-size: 20px;
	color: #717171;
	font-family: arial;
}

.newsletter >p {
	font-size: 12px;
	color: #989898;
	font-family: arial;
	margin-top: 20px;
}

.newsletter-email-input {
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.newsletter-email-input >input[type="email"] {
	padding: 5px;
	border: none;
	border-radius: 4px;
	background-color: #dddddd;
	color: #989898;
	text-transform: capitalize;
	outline: none;
	width: 225px;
}

.newsletter-email-input >input[type="submit"] {
	padding: 5px;
	border: none;
	border-radius: 4px;
	background-color: #dddddd;
	text-transform: uppercase;
	color: #ff5d30;
	opacity: 0.7;
	font-weight: bold;
	font-family: arial;
	transition: 1s;
}

.newsletter-email-input >input[type="submit"]:hover {
    cursor: pointer;
    opacity: 1;
}

.footer-stay-social {
	width: 100%;
	height: 50%;
}

.footer-stay-social >h2 {
	text-transform: capitalize;
	font-size: 20px;
	color: #717171;
	font-family: arial;
}

.footer-stay-social-links {
	margin-top: 20px;
}

.footer-stay-social-links >ul {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto;
	list-style-type: none;
	grid-gap: 20px;
}

.footer-stay-social-links ul>li {
	width: 60%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-stay-social-links li>p {
	font-size: 12px;
	font-family: arial;
	color: #989898;
	text-transform: capitalize;
}

.footer-stay-social-links li>a {
	display: flex;
	text-decoration-line: none;
}

.footer-from-the-blog {
	width: 315px;
	height: 355px;
	display: flex;
	flex-direction: column;
}

.from-the-blog {
	width: 100%;
	height: 50%;
	position: relative;
}

.from-the-blog >h2 {
    color: #666666;
	font-size: 20px;
	text-transform: capitalize;
	font-family: arial;
}

.from-the-blog >h3 {
	color: #989898;
	font-size: 13px;
	font-family: arial;
	text-transform: capitalize;
	margin-top: 20px;
}

.from-the-blog >h4 {
	font-size: 11px;
	font-family: arial;
	color: #757575;
	margin-top: 5px;
}

.from-the-blog >p {
	font-size: 12px;
	color: #989898;
	font-family: arial;
	margin-top: 10px;
}

.from-the-blog >a {
	text-transform: capitalize;
	text-decoration-line: none;
	color: #ff5d30;
	opacity: 0.7;
	font-size: 12px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	transition: 1s;
}

.from-the-blog >a:hover {
	opacity: 1;
	cursor: pointer;
}

.footer-latest-from-twitter {
	width: 315px;
	height: 355px;
	display: flex;
	flex-direction: column;
}

.latest-from-twitter {
	width: 100%;
	height: 100%;
	position: relative;
}

.latest-from-twitter >h2 {
	color: #666666;
	font-size: 20px;
	text-transform: capitalize;
	font-family: arial;
}

.latest-from-twitter >p {
	font-size: 12px;
	color: #989898;
	font-family: arial;
	margin-top: 20px;
}

.latest-from-twitter >a {
	text-transform: capitalize;
	text-decoration-line: none;
	color: #ff5d30;
	opacity: 0.7;
	font-size: 12px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	transition: 1s;
}

.latest-from-twitter >a:hover {
	opacity: 1;
	cursor: pointer;
}

.copy-right {
	width: 100%;
	background-color: #e2e2e2;
}

.copy-right-wrap {
	display: flex;
	justify-content: space-between;
}

.copy-right-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 70px;
}

.copy-right__left {
	display: flex;
	align-items: center;
}

.copy-right__left >p {
	font-size: 12px;
	color: #919191;
	text-transform: capitalize;
}

.copy-right__right {
	display: flex;
	align-items: center;
} 

.copy-right__right >p {
	font-size: 12px;
	color: #919191;
	text-transform: capitalize;
}

